* {
	font-family: JetBrainsMono-Bold, Symbols Nerd Font;
	font-weight: normal;
	font-size: 16px;

	border-radius: 8px;
	border: none;

	padding: 0px 0px;
	margin: 0px 5px;
}

window#waybar {
	background-color: rgba(46, 52, 64, 0);
	color: rgb(236, 239, 244);
}

#workspaces button {
	color: rgb(236, 239, 244);
	background-color: rgba(46, 52, 64, 1);
}

#workspaces button.active {
	background-color: #434c5e;
}

#cpu,
#memory,
#tray,
#language,
#battery,
#backlight,
#pulseaudio,
#clock {
	padding: 0 10px;
	margin: 0 6px;
	color: rgb(236, 239, 244);
	background-color: rgba(46, 52, 64, 1);
}

#custom-sep {
	color: rgba(0, 0, 0, 0.0);
}