* {
    border-radius: 8px;
    border: none;
}

window {
    font-size: 16px;
    font-family: "JetBrainsMono";
    font-weight: bold;
    background-color: rgba(67, 76, 94, 0.75);
    color: rgba(236, 239, 244, 0.75);
}

#entry:selected {
    background-color: rgba(76, 86, 106, 0.75);
    color: rgba(236, 239, 244, 0.75);
}

#input {
    background-color: rgba(59, 66, 82, 0.75);
    color: rgba(236, 239, 244, 0.75);
}

image {
    margin-left: .5em;
    margin-right: .5em;
}